<div ng-controller="ProjectCtrl">

    <table class="table" style="background-color: #f9f9f9;" @*class="table table-striped" style="background-color: #DCDCDC;"*@>
        <tr>
            <th>
                <span ng-click="sortType = 'Priority'; sortReverse = !sortReverse">Priority</span>
                <span ng-show="sortType == 'Priority' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Priority' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <span ng-click="sortType = 'Name'; sortReverse = !sortReverse">Client</span>
                <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <span ng-click="sortType = 'Contact'; sortReverse = !sortReverse">Contact</span>
                <span ng-show="sortType == 'Contact' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Contact' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <span ng-click="sortType = 'PhoneNumber'; sortReverse = !sortReverse">Number</span>
                <span ng-show="sortType == 'PhoneNumber' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'PhoneNumber' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <span ng-click="sortType = 'QuickbookId'; sortReverse = !sortReverse">QuickBook Id</span>
                <span ng-show="sortType == 'QuickbookId' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'QuickbookId' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <span ng-click="sortType = 'Retainer'; sortReverse = !sortReverse">Retainer</span>
                <span ng-show="sortType == 'Retainer' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Retainer' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <span ng-click="sortType = 'Actions'; sortReverse = !sortReverse">Actions</span>
                <span ng-show="sortType == 'Actions' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Actions' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <span ng-click="sortType = 'Contacts'; sortReverse = !sortReverse">Contacts</span>
                <span ng-show="sortType == 'Contacts' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Contacts' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <span ng-click="sortType = 'Hours'; sortReverse = !sortReverse">Hours</span>
                <span ng-show="sortType == 'Hours' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Hours' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <span ng-click="sortType = 'Invoice'; sortReverse = !sortReverse">Invoice</span>
                <span ng-show="sortType == 'Invoice' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Invoice' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <button class="btn btn-default" ng-click="toggleShowRow()">New Project</button>
            </th>
            <th></th>
        </tr>
        <tr style="background-color: rgb(240, 248, 255);" ng-show="showRowNewProject">
            <form class="form-horizontal" role="form" ng-submit="addProject()">
                <td>
                    <select class="form-control" id="Priority" name="Priority" ng-model="Priority" ng-options="priority.value as priority.name for priority in priorities">
                        <option style="display:none" value=""></option>
                    </select>
                </td>
                <td>
                    <input class="form-control text-box single-line" id="Name" name="Name" type="text"
                           value="" ng-model="Name" placeholder="Client">
                </td>
                <td>
                    <input class="form-control text-box single-line" id="ContactPerson" name="ContactPerson" type="text"
                           value="" ng-model="ContactPerson" placeholder="Contact">
                </td>
                <td>
                    <input class="form-control text-box single-line" id="PhoneNumber" name="PhoneNumber" type="text"
                           value="" ng-model="PhoneNumber" placeholder="Number">
                </td>
                <td class="form-group" style="width: 150px">
                    <input class="form-control text-box single-line" id="QuickbookId" name="QuickbookId"
                           type="text" ng-model="QuickbookId" placeholder="QuickBook Id" ng-init="QuickbookId=0">
                </td>
                <td>
                    <input checked="checked" class="check-box" id="Retainer" name="Retainer" type="checkbox"
                           value="true" ng-model="Retainer">
                </td>
                <td style="width: 150px">
                    <input class="form-control text-box single-line"  id="Actions" name="Actions" type="text"
                           ng-model="Actions" placeholder="Actions" ng-init="Actions=0">
                </td>
                <td style="width: 150px">
                    <input class="form-control text-box single-line" id="Contacts" name="Contacts" type="text"
                           ng-model="Contacts" placeholder="Contacts" ng-init="Contacts=0">
                </td>
                <td style="width: 150px">
                    <input class="form-control text-box single-line" id="ExpectedHours" name="ExpectedHours" type="text"
                           ng-model="ExpectedHours" placeholder="Expected Hours" ng-init="ExpectedHours=0">
                    <input type="hidden" id="ActualHours" name="ActualHours" ng-model="ActualHours" ng-init="ActualHours=0" />
                </td>
                <td style="width: 150px">
                    <input style="visibility:hidden" class="form-control text-box single-line" id="Invoice" name="Invoice" type="text"
                           ng-model="Invoice" placeholder="Invoice" ng-init="Invoice=0">
                </td>
                <td>
                    <input type="submit" value="Add" class="btn btn-default" ng-show="(Name.length > 0)"
                           ng-disabled="!(Name.length > 0)" />
                </td>
                <td>
                    <i class="fa fa-check checkIcon" id="checkIconAdd"
                       aria-hidden="true" style="color:#4CAF50; visibility:hidden;"></i>
                </td>
            </form>
        </tr>
        <tr ng-repeat="project in allProjects | orderBy:sortType:sortReverse"
            ng-style="(project.Priority==4) ? { 'background-color':'rgb(240, 248, 255)' } : { 'background-color': '#ffffff' }">
            <td>
                <select class="form-control" ng-model="selectedPriority"
                        ng-options="priority.name for priority in priorities"
                        ng-change="changeValuePriority(project.Id,selectedPriority.value)">
                    <option ng-value="project.Priority" ng-bind="getPriorityName(project.Priority)" style="display:none;"></option>
                </select>
            </td>
            <td>
                <input class="form-control text-box single-line" id="Name" name="Name" type="text"
                       ng-value="project.Name" ng-model="project.Name">
            </td>
            <td>
                <input class="form-control text-box single-line" id="ContactPerson" name="ContactPerson" type="text"
                       ng-value="project.ContactPerson" ng-model="project.ContactPerson">
            </td>
            <td>
                <input class="form-control text-box single-line" id="PhoneNumber" name="PhoneNumber" type="text"
                       ng-value="project.PhoneNumber" ng-model="project.PhoneNumber">
            </td>
            <td><a ng-bind="project.QuickbookId" href="localhost:8099/invoice/add/{{project.QuickbookId}}"></a></td>
            <td ng-show="project.Retainer">YES</td>
            <td ng-show="!(project.Retainer)">NO</td>
            <td ng-bind="project.Actions"></td>
            <td ng-bind="project.Contacts"></td>
            <td>{{project.ActualHours}}/{{project.ExpectedHours}}</td>
            @*<td ng-bind="project.Invoice | currency"></td>*@
            <td ng-bind="getInvoice(project.Id) | currency"></td>
            <td>
                <button class="btn btn-default btn-blue" ng-click="saveProject(project.Id)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                @*<a class="btn btn-default" href="/Project/Edit/{{project.Id}}">Edit</a>*@
                <a class="btn btn-default btn-blue" href="/Project/Details/{{project.Id}}">Details</a>
                <a class="btn btn-default btn-blue" href="/Project/Delete/{{project.Id}}">@*<i class="fa fa-trash-o" aria-hidden="true"></i>*@Delete</a>
                @*<input type="submit" value="Save" class="btn btn-default" />*@
            </td>
            <td>
                <i id="checkIcon{{project.Id}}" class="fa fa-check checkIcon"
                   aria-hidden="true" style="color:#4CAF50; visibility:hidden;"></i>
            </td>
        </tr>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
